/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.header {
  justify-content: space-between;
  display: flex;
  margin: 10px;
  border: 1px solid black;
}
.logo {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  font-size: larger;
  padding: 10px;
  justify-content: space-between;
}

.card {
  width: 330px;

  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.card > img {
  width: 100%;

  text-align: center;
  border-radius: 20px;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
